/* Write your CSS code here */
/* Write your CSS code here */
.list-item-bg {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.crptyo-currency-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.crptyo-image {
  height: 35px;
  width: 35px;
}
.crptyo-name {
  color: #ffffff;
  padding-left: 10px;
}
.crptyo-usd-value {
  color: #ffffff;
  padding-right: 120px;
  height: 63.9px;
  width: 21.6px;
  padding-top: 20px;
}
.crptyo-euro-value {
  color: #ffffff;
  margin-right: 40px;
}
.crypto-values {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
